*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  width: 300px;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  background: #eee;
  padding: 8px;
  margin-top: 5px;
}